@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300;400;500&display=swap');
*
{
    margin:0;
    padding:0;
    font-family: 'Georama', sans-serif;
    box-sizing:border-box;
    text-transform: capitalize;
}
html
{
    font-size:15px;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar
{
    width:.8rem;
}
html::-webkit-scrollbar-thumb
{
    background: rgb(236, 35, 119);
}
section
{
    min-height: 100vh;
    padding:1rem 10%;
    padding-top:8rem;
}
header 
{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background:rgb(20, 20, 20);
    padding:1rem;
    box-shadow:0 .2rem .3rem lightgray;
    display: flex;
    align-items:center;
    justify-content:space-between;
}
header .logo img 
{
    height:4rem;
}
header .navigate ul 
{
    display: flex;
    align-items: center;
    justify-content:center;
    list-style: none;
}
header .navigate ul li 
{
    margin-left:3rem;
}
header .navigate ul li a 
{
    font-size: 1.2rem;
    color:rgb(247, 247, 247);
    text-decoration:none;
    font-weight: 500;
}
header .navigate ul li a.active,
header .navigate ul li a:hover 
{
    color:rgb(236, 35, 119);
}
header #menu 
{
    font-size: 2rem;
    color:rgb(236, 35, 119);
    cursor: pointer;
    display: none;
}

@media(max-width:768px)
{
    header #menu 
    {
    display:block;
    }
    header .navigate 
    {
        position:fixed;
        top:8rem;
        left: 0;
        width: 100%;
        background:aliceblue;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }
    header .navigate ul 
    {
        flex-flow: column;
        padding: 1rem;
    }
    header .navigate ul li 
    {
        margin:1rem;
        width: 100%;
    }
    header .navigate ul li a 
    {
        display: block;
        color: #000;
        padding-left: 2rem;
        border-right: .1rem solid #000;
        font-size: 1rem;
    }
    header .navigate ul li a:hover,
    header .navigate ul li a.active 
    {
        color:rgb(236, 35, 119);
        border-color:rgb(236, 35, 119);
    }
    header .navigate.nav-toggle
    {
        transform: scaleY(1);
        opacity: 1;
    }
    .fa-times
    {
        transition:.5s ease;
        transform:rotate(180deg);
    }
}
/*----------------section-------------*/
.home 
{
    background:linear-gradient(rgba(241, 155, 155, 0.5),rgba(0, 0, 0, 0.5)),url("fondoprincipal.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
}
.home h1 
{
    padding-top:12%;
    font-size:4rem;
    text-shadow: 2px 2px #fa4975;
    letter-spacing: 1px;
}
.home p 
{
    font-size:1.5rem;
    line-height:2rem;
}
.home-btn
{
    padding:20px 0;
}
.home-btn button
{
    width:15rem;
    padding: 12px 15px;
    border:none;
    border-radius:5px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    color:#fff;
    background:rgb(236, 35, 119); 
}
button i 
{
    margin-left: .5rem;
   font-size:1rem;
   text-align: center;
   transition: 2s ease;
   animation: animate .5s ease infinite;
}
button:hover 
{
    background:rgb(228, 3, 96);
    
}
@keyframes animate 
{
    0%
    {
        transform:translateX(-5px);
    }
    100% 
    {
        transform: translateX(5px);
    }
}
@media(max-width:768px)
{
    .home h1 
    {
        font-size: 3rem;
        padding-top: 50%;
    }
    .home p 
    {
        font-size:1.2rem;
    }   
}
/*-----------------------about us-----------
.about
{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.about .about-content
{
    width:100%;
    height: auto;
    padding:4rem 2rem;
    box-shadow:0 .2rem .5rem rgb(236, 35, 119) ;
    text-align: center;
    background:limegreen;
    border-radius: 5px;
}
.about-content h2 
{
    font-size:2.5rem;
    color:#fff;
    padding:.5rem 0;
    letter-spacing:.2rem;
    text-shadow: .2rem .2rem #fa4975;
}
.about-content p 
{
    font-size:1rem;
    font-weight:500;
    line-height: 1.5rem;
    color:#fff;
}
.about .image img 
{
    width:40%;
    height: auto;
    
}*/
.about .image img:hover 
{
    animation:animate-img 5s ease infinite;
}
.btn 
{
    margin:10px 0;
    width:10rem;
    padding:.6rem;
    border-radius: 5px;
    border: none;
    background:rgb(236, 35, 119);
    color:#fff;
    font-size: 1rem;
    font-weight:600;
    letter-spacing: .1rem;
    
}
@keyframes animate-img
{
    0%,100%
    {
        transform: translateX(-3rem);
    }
    25%
    {
        transform: translateY(5rem);
    }
    50%
    {
        transform: translateX(3rem);
    }
    75%
    {
        transform: translateY(-5rem);
    }
}
@media(max-width:768px)
{
    .about
    {
    display: block;
    justify-content: space-between;
    align-items:center;
    }
}
/*----------------------Product---------------*/
.title
{
    text-align:center;
    font-size:3rem;
    padding:0.5rem;
    color:rgb(236, 35, 119);
}
.title span
{
    color:rgb(2, 2, 2);
}
.cake-product .inner-cake-row
{
   display: flex;
   align-items: center;
   justify-content:center;
   flex-wrap: wrap; 
}
.cake-product .inner-cake-col
{
    max-width: 1300px;
    background:rgb(146, 146, 146);
    height: 27rem;
    flex:1 1 20rem;
    padding:1.2rem;
    margin:1.5rem;
    border-radius:1rem;
    box-shadow:0 .3rem .6rem rgb(236, 35, 119);
    text-align: center;
}
.cake-product .inner-cake-col:hover 
{
    transition:.5s ease;
    transform:translateY(-.5rem);
}
.cake-product .inner-cake-col img 
{
    height: 15rem;
    width:100%;
    object-fit: cover;
}
.cake-product .inner-cake-col .cake-price p
{
  position:absolute;     
  width: 2.7rem;
  height: auto;
  margin-top:-1.2rem;
  margin-left: 8rem;
  padding:.8rem .1rem;
  text-align: center;
  font-size: 1.2rem;
  border:none;
  border-radius:5rem;
  background:rgb(255, 255, 255);
  color:#000;
}
.cake-star
{
    color: #FFDF00;
    position:relative;
    margin-top: 1.7rem;
}
.cake-product .inner-cake-col h2
{
    padding: .5rem 0;
    color:darkblue;
    font-size:1.6rem;
    letter-spacing:.1rem;
}
.cake-product .inner-cake-col h3 
{
    color:rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 500;
}
.cake-product .inner-cake-col p 
{
    color:rgb(240, 0, 160);
    font-size: 1rem;
    font-weight: 500;
    padding:.5rem 0;
}
@media(max-width:768px)
{
    .title
    {
        text-align:center;
        font-size:2rem;
    }
}
/*----------------------------------services---------*/
.service .cake-list 
{
    display:flex;
    align-items:center;
    justify-content:center;
    list-style: none;
    padding:1rem 0;
    margin:1.0rem 0;
    border-top:.2rem dotted rgb(58, 58, 58);
    border-bottom:.2rem dotted rgb(58, 58, 58);
}
.service .cake-list .btn1 
{
    width:8rem;
    padding:.6rem;
    border-radius: 5px;
    border: none;
    background:rgb(236, 35, 119);
    color:#fff;
    font-size: 0.8rem;
    font-weight:600;
    letter-spacing: .1rem;
    margin:1rem;
    text-align:center;
}
.service .cake-list .btn1.active,
.service .cake-list .btn1:hover 
{
    transition: .5s ease;
    background:rgb(0, 0, 0);
    cursor: pointer;
}
.service .cake-row
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.service .cake-row .image
{
    margin:1.5rem;
    padding:1rem;
    flex:1 1 21rem;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgb(236, 35, 119);
}
.service .cake-row .image img 
{
    width:100%;
    object-fit: cover;
    height: 20rem;
}
.service .cake-content
{
    flex:1 1 21rem;
}
.service .cake-content .cake-info
{
    padding:1rem 4rem;
}
.service .cake-content .cake-info h3 
{
    font-size: 1.5rem;
    color:rgb(236, 35, 119);
}
.service .cake-content .cake-info a i
{
    padding: 1rem 1rem 0 0;
    font-size: 1.5rem;
    color:limegreen;
}
.service .cake-content .cake-info a
{
    font-size: 1rem;
    font-weight:600;
    color:darkblue;
    cursor: pointer;
}
.service .cake-content .cake-info a:hover 
{
    text-decoration:underline;   
}
@media(max-width:768px)
{
    .service .cake-list .btn1 
    {
        display:inline-block;
        margin:.1rem;
        font-size:.5rem;
    }
}
/*---------------------contact us---------*/
.contact
{
    padding-top:8.5rem;
}
.cake-contact
{
    width:100%;
    background:whitesmoke;
}
.cake-contact-row
{   
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}
.cake-contact-col 
{
    margin:2rem;
    flex: 1 1 20rem;
    text-align:center;
}
.cake-contact-col .images 
{
    border:1px solid #fff;
}
.cake-contact-col img
{
    width:90%;
    height:auto;
    margin:1.5rem;
    padding:1rem;
    flex:1 1 21rem;
    border:1px solid transparent;
    border-radius: 1rem;   
}
.cake-contact-col h1 
{
    padding:1rem 0;
    color:rgb(236, 35, 119);
    letter-spacing: .1rem;
}
.cake-contact-col .social i
{
    padding:.8rem;
    border: none;
    border-radius: 1rem;
    background:rgb(236, 35, 119);
    color:#fff;
    font-size: 1.5rem;
}
.cake-contact-col .social i:hover 
{
    transition: 0.5s ease;
    background: limegreen;
    color:#fff;
    cursor: pointer;
}
.cake-contact-col p 
{
    padding:.5rem 0;
    line-height:1.5rem;
    color:gray;
}
.cake-contact-col input, .cake-contact-col textarea 
{
    width:80%;
    padding:1rem;
    margin-bottom:1.2rem;
    border:none;
    border-bottom:.1rem dotted rgb(236, 35, 119);  
}
.cake-contact-col textarea
{
    resize: none;
}
.copyright
{
    margin-top:5rem;
    padding:3rem;
    text-align:center;
    background: rgb(0, 0, 0);
}
.copyright i 
{
    font-size:2rem;
    color:#fff;
}
.copyright p 
{
    letter-spacing: .1rem;
    font-size: 1.5rem;
    color:#fff;
}


/*---------FOOTER----------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}



.footer-distributed{
	background: rgb(32, 32, 32);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
